node_modules
npm-debug.log*
*/**/node_modules
*/**/npm-debug.log*
.DS_Store
project.json
project-native.js
.idea
mockhs/*.bat
mockhs/*.sh
package-lock.json
*.swp
.eslintrc.json
autobuild/client/builds
.editorconfig
.vscode/

dist
yarn.lock